<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sigma - Colegio Empresarial</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="root">
      <div>
        <nav class="Navbar">
          <div class="Navbar-navbar">
            <li class="Navbar-logo"><a href="/">Colegio Empresarial</a></li>
            <ul class="Navbar-links">
              <li>
                <div class=".Navbar-fake-a"><a href="/">Inicio</a></div>
              </li>
              <li>
                <div class=".Navbar-fake-a">
                  <a href="/manage">Manejar</a>
                  <i>
                    <img src="img/arrow.svg" alt="Arrow" />
                  </i>
                </div>
              </li>
              <li>
                <div class=".Navbar-fake-a">
                  <a href="/stats">Estadisticas</a>
                </div>
              </li>
              <li>
                <div class=".Navbar-fake-a"><a href="/logout">Salir</a></div>
              </li>
            </ul>
            <li class="Navbar-open">
              <i>
                <img src="img/menu.svg" alt="Menu" />
              </i>
            </li>
          </div>
        </nav>
        <main>
          <div class="Sidebar">
            <img src="img/man.jpg" alt="Pfp" />
          </div>
          <p>This is the home page admin user</p>
        </main>
      </div>
    </div>
  </body>
</html>
