.ErrorBox {
  padding: 20px;
  background: #f44336;
  display: table;
  margin-bottom: 10px;
  text-align: left;
  border-radius: 3px;
  color: #fff;
}

.ErrorBox strong {
  font-size: 2em;
}

.ErrorBox button,
.ErrorBox button:hover {
  margin-left: 15px;
  color: #fff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.ErrorBox button:hover {
  color: #000;
}
