.GeneralForm {
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.GeneralForm.on-line {
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: row;
}

.GeneralForm h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.GeneralForm .GeneralForm-field-box {
  position: relative;
  width: 100%;
}

.GeneralForm .GeneralForm-field-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.GeneralForm.on-line .GeneralForm-field-box {
  width: 60%;
}

.GeneralForm .GeneralForm-field-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.GeneralForm .GeneralForm-field-box input:focus ~ label,
.GeneralForm .GeneralForm-field-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.GeneralForm .GeneralForm-btn {
  position: relative;
  display: inline-block;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  font-size: 16px;
  letter-spacing: 4px;
  outline: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.GeneralForm .GeneralForm-btn.neon {
  border: 3px solid #03e9f4;
  color: #03e9f4;
  margin: 40px 0 10px 0;
}

.GeneralForm .GeneralForm-btn:hover {
  color: #000;
  background: #fff;
}

.GeneralForm .GeneralForm-btn.neon:hover {
  background: #03e9f4;
  color: #222;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 100px #03e9f4;
}
