.Manage {
  width: 60%;
  color: #f2f2f2;
}

.Manage hr {
  width: 100%;
}

.Manage ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Manage ul li {
  list-style: none;
  margin: 40px 10px;
}

.Manage ul li a,
.Manage table a {
  padding: 10px;
  color: #f2f2f2;
  text-decoration: none;
  border-radius: 5px;
  background: rgb(10, 10, 10);
}

.Manage form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Manage .user-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.Manage .user-box select {
  width: 50%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.Manage .user-box select option {
  background: rgba(10, 10, 10, 0.8);
}

.Manage .user-box label {
  padding: 10px 0;
  margin-bottom: 25px;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.Manage table {
  width: 100%;
}

.Manage table,
.Manage table tr,
.Manage table td {
  border-spacing: 0;
}

.Manage table thead {
  font-weight: bold;
  border-top: 1px solid #f2f2f2;
  border-bottom: 2px solid #f2f2f2;
}

.Manage table td {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px;
}
